h1{

font-size: 57px;
color: green;
text-align: center;


}

.intro{

font-size: 22px;
background-color: orange;
font-weight: bold;
margin: 25px;
padding: 15px;


}

.middle{

color: blue;
font-size: 22px;
background-color: red;
margin: 50px;


}

.bottom{

color: purple;
font-size: 33px;
background-color: yellow;
margin-bottom: 50px;

}

span{

background-color: white;
font-size: 15px;
color: black;


}

.box{
    font-weight: bold;
    text-align: center;
    background: green;
    font-size: 40px;
    color:black;
    background-image: url(../img/just-waves.png);
    border-color: orange;
    margin: 25px;
    border-style: dashed;
    padding: 10px;
}